@import "tailwindcss";

/* === Globale Farbdefinitionen === */
:root {
  --color-primary: #01497e;   /* Congress Blue – Hauptfarbe */
  --color-primary-rgb: 1 73 126;
  --color-accent: #a2c92d; /* Akzentfarbe */
  --color-accent-rgb: 162 201 45;
}

body {
  padding-top: 72px;
}

html, body {
  color: var(--color-primary);
  background-color: white;
  font-family: system-ui, sans-serif;
}

hr {
  border-color: var(--color-accent);
  border-width: 1px;
}
